.nav-item {
    padding:0px 10px;
    font-size: larger;
}

.main-container {
    padding: 0px;
}

.course-list, .main-content {
    padding: 0px;
}

.list-group-item.active{
    background-color:#ddd;
    border: brown;
    color:black;
}
.list-group-item:hover{
    background-color:#ddd;
}

.list-group-item.active:hover{
    background-color: #ddd;
    color:black;
}

a.nav-link:hover {
    border-bottom: 2px solid black !important;
    padding-bottom: 0px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    border-bottom: 2px solid black !important;
    padding-bottom: 0px;

}